.rounded {
  border-radius: 2em;
  padding: 1em;
}
.bordered {
  border: medium solid #555555;
}
body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ffffff;
}
h1 {
  font-size: 4em;
  text-shadow: #bbbbbb 0.05em 0.05em;
  text-align: center;
}
a {
  color: #990000;
  text-decoration: none;
}
a:hover {
  color: #990000;
  text-decoration: underline;
}
#content {
  background: #777777;
  border-radius: 2em;
  padding: 1em;
  min-height: 10em;
}
/* side bar styles */
.sidebar {
  background: #777777;
  border-radius: 2em;
  padding: 1em;
  min-height: 10em;
}
.sidebar .sidebar-section {
  border: medium solid #555555;
  border-radius: 2em;
  padding: 1em;
  min-height: 5em;
}
footer {
  text-align: right;
  padding: 2em;
}
