@black: #000;
@white: #fff;
@dark-red: #900;


@page-background: @black;
@content-background: @page-background + #777;
@border-color: @page-background + #555;
@text-color: @white;
@link-color: @dark-red;
@min-height: 10em;

//// mixins
.rounded {
	border-radius: 2em;
	padding: 1em;
}

.bordered {
	border: medium solid @border-color;
}

//// styles
body {
	margin: 0;
	padding: 0;
	background: @page-background;
	color: @text-color;
}

h1 {
	font-size: 4em;
	text-shadow: @text-color - #444 0.05em 0.05em;
	text-align: center;
}

a {
	color: @link-color;
	text-decoration: none;
	&:hover {
		color: @link-color;
		text-decoration: underline;
	}
}

#content {
	background: @content-background;
	.rounded;
	min-height: @min-height;
}

/* side bar styles */
.sidebar {
	background: @content-background;
	.rounded;
	min-height: @min-height;
	.sidebar-section {
		.bordered;
		.rounded;
		min-height: @min-height / 2;	
	}
	
}

footer {
	text-align: right;
	padding: 2em;
}